# MT5 Service Configuration (Example)
MT5_PATH="C:\\Program Files\\MetaTrader 5\\terminal64.exe"
MT5_LOGIN=your_mt5_login
MT5_PASSWORD=your_mt5_password
MT5_SERVER=your_mt5_server

BACKEND_URL=http://mt5-engine-gcp:8002

INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=your_influx_token
INFLUX_ORG="danielmtz"
INFLUX_BUCKET="tradedb"

# InfluxDB Initialization (Docker only)
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=admin_password
DOCKER_INFLUXDB_INIT_ORG=danielmtz
DOCKER_INFLUXDB_INIT_BUCKET=tradedb
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=your_admin_token
