# -----------------------------------------------------------------------------
# SHARED.ENV.EXAMPLE
# -----------------------------------------------------------------------------
# Core database settings used by multiple services.

# SQLAlchemy database URL
# Use 'host.docker.internal' to reach the database on the Docker host (PostgreSQL)
DATABASE_URL=postgresql+asyncpg://danielmtz:your_secure_password@host.docker.internal:5432/tradedb

# PostgreSQL Instance Initialization (Database containers only)
POSTGRES_DB=tradedb
POSTGRES_USER=danielmtz
POSTGRES_PASSWORD=your_secure_password
POSTGRES_PORT=5432
